<div class="users_index">
  <h1>Cool People</h1>

  <ul class="index-list">
    <% @users.each do |user| %>

      <li><%= user.name.upcase %><br>

      <span class="index-description">
        <% if user.locations.first %>
          Sample Location: <%=user.locations.first.name %> - <%=user.locations.first.description %><br>
      </span>
        <% else %>
          This user has no locations. Weird.<br></span>
        <% end %>

        <% if user_signed_in? %>
          <%= link_to "View #{user.name.capitalize}'s Stories", user_path(user.id) %>
        <% else %>
          <%= link_to "Log in", new_user_session_path %> to view #{user.name.capitalize}'s stories.
        <% end %>
        </li>
    <% end %>
  </ul>
</div>
