<div class="show-story hidden">
  <div class="btn btn-custom" role="button">SHOW STORIES
  </div>
</div>

<div class="story-title">
  <h1 class="btn-wrapper"><%= @user.name %>'s Stories:</h1>
   <div class="btn-wrapper">
      <p><% @user.stories.each do |story| %>
      <%= story.name %><br>
      <%= link_to "View", user_story_path(@user.id, story.id) %><br>

          <% if user_signed_in? && current_user.id == @user.id %>
             <%= link_to 'Edit', edit_user_story_path(@user.id, story.id) %> |
            <%= link_to "Delete", user_story_path(@user.id, story.id), method: :delete, data: { confirm: 'Are you sure you want to delete this?' } %><br>
          <% end %>
      <% end %></p>
    </div>
      
   

  <div class="btn-wrapper">
    <div class="btn btn-custom" role="button" id="hide-story">HIDE STORIES</div>
  </div>
</div>

<div id="map-container">
  <div id="map-canvas"></div>
</div>

