
<div class="nav-text">
  <h1><%= @user.name %>'s Stories:</h1>
    <ul>
      <% @user.stories.each do |story| %>
        <li>
          <%= story.name %> |
          <%= story.description %> |
          <%= link_to 'View', user_story_path(@user.id, story.id) %> 
          <% if user_signed_in? && current_user.id == @user.id %>
            | <%= link_to 'Edit', edit_user_story_path(@user.id, story.id) %> |
            <%= link_to "Delete", user_story_path(@user.id, story.id), method: :delete, data: { confirm: 'Are you sure you want to delete this?' } %>
          <% end %> 
          <br><br>
          </li>
      <% end %>
    </ul>
  <% if user_signed_in? && current_user.id == @user.id %>
    <%= link_to "Add a new story", new_user_story_path(@user.id) %>
  <% end %>
</div>

<div id="content-container">
  <div id="map-container">
    <div id="map-canvas"></div>
  </div>
</div>  
