<div id="user_id"><%= @user.id %></div>

<!-- LIST OF LOCATIONS/EVENTS FOR THIS USER: -->

<h2><%= @user.name %>'s stories:</h2>
  <ul>
    <% @user.stories.each do |story| %>
      <li>
        <%= story.name %> |
        <%= story.description %> |
        <%= link_to 'View', user_story_path(@user.id, story.id) %> |
        <%= link_to 'Edit', edit_user_story_path(@user.id, story.id) %> |
        <%= link_to "Delete", user_story_path(@user.id, story.id), method: :delete, data: { confirm: 'Are you certain?' } %>
        <br><br>
        </li>
    <% end %>
  </ul>

<%= link_to "ADD Story for #{@user.name.capitalize}", new_user_story_path(@user.id) %>

<h2><%= @user.name %>'s map:</h2>

<div id="map-container">
  <div id="map-canvas"></div>
</div>
