<%= form_for @event, url: user_events_path do |f| %>

  <div class="name">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="latitude">
    <%= f.label :latitude %>
    <%= f.text_field :latitude %>
  </div>

  <div class="longitude">
    <%= f.label :longitude %>
    <%= f.text_field :longitude %>
  </div>

  <%= f.submit %>
<% end %>
