<%= form_for @story, url: user_stories_path do |f| %>
  <% if @story.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@story.errors.count, "error") %> prohibited this story from being saved:</h2>

      <ul>
      <% @story.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Story name:" %><br>
    <%= f.text_area :name, size: "60x1", placeholder: "Cool Trip to Hawaii" %><br>

    <%= f.label :description, "Story summary:" %><br>
    <%= f.text_area :description, size: "60x5", placeholder: "Last year I went to Hawaii, land of sharks and lava. It was the coolest vacation ever..." %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
