<h2><%= @user.name.capitalize %>'s Story: <%= @story.name %><br><br></h2>

<p>
  <strong>Description:</strong>
  <%= @story.description %>
</p>

<%= link_to 'Edit', edit_user_story_path(@user.id, @story.id) %> |
<%= link_to "Delete", user_story_path(@user.id, @story.id), method: :delete, data: { confirm: 'Are you certain?' } %>

<div id="map-container">
  <div id="map-canvas"></div>
</div>
