<%= form_for @location, url: user_story_locations_path do |f| %>

  <% if @location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% @location.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Location name:" %><br>
    <%= f.text_area :name, size: "60x1" %>
  </div>
  <div class="field">
    <%= f.label :address, "Enter city and state, landmark, or specific address:" %><br>
    <%= f.text_area :address, size: "60x1" %>
  </div>
    <div class="field">
    <%= f.label :description, "Tell us what happened at this location:" %><br>
    <%= f.text_area :description, size: "60x5" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
