<!DOCTYPE html>
<html>
<head>
  <title>Timeline Visualizer</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <script src="https://maps.googleapis.com/maps/api/js"></script>
  <link href='https://fonts.googleapis.com/css?family=Roboto:900,400italic,100italic,400' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>
</head>
<body>


  <!-- NAVBAR -->
  <div id="nav-map-conatiner">
    <div id="nav-container">
      <nav role="navigation" class="navbar navbar-default">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <img id="logo_img" src="https://openmerchantaccount.com/img/quote_marker_logo.png">
          <a href="<%= root_path %>" class="navbar-brand" class="hover">Cool Story Bro</a>
        </div>
        <!-- Collection of nav links and other content for toggling -->
        <div id="navbarCollapse" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="hover"><a href="<%= users_path %>">People</a></li>
            <li class="hover"><a href="/stories/index">Stories</a></li>
              <% if user_signed_in? %>
                <!-- Add a story -->
                <!-- Go to User's home page -->
              <% end %>
            </ul>
            <ul class="nav navbar-nav">
              <% if user_signed_in? %>
                <li class="hover"><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
              <% else %>
                <li class="hover"><%= link_to "Sign In", new_user_session_path %></li>
                <li class="hover"><%= link_to "Sign Up", new_user_registration_path %></li>
             <% end %>
           </ul>
        </div>
      </nav>
    </div>

    <!-- FLASH NOTICES -->
    <% if flash[:error] -%>
      <p class='error'><%=h flash[:error] %></p>
    <% elsif flash[:notice] -%>
      <p class='notice'><%=h flash[:notice] %></p>
    <% elsif flash[:alert] -%>
      <p class='alert'><%=h flash[:alert] %></p>
    <% else %>
    <% end -%>

      <%= yield %>
  </div>
</body>
</html>
