<!DOCTYPE html>
<html>
<head>
  <title>Cool Story, Bro</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <script src="https://maps.googleapis.com/maps/api/js"></script>
  <link href='https://fonts.googleapis.com/css?family=Roboto:900,400italic,100italic,400' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Alfa+Slab+One|Cabin+Condensed|Lobster|Nunito|Yanone+Kaffeesatz' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>
</head>
<body>

  <!-- NAVBAR -->
  <center>
  <div id="nav-map-conatiner">
    <div id="nav-container">
      <nav role="navigation" class="navbar navbar-default">

        <img id="logo-img" src="https://openmerchantaccount.com/img/quote_marker_logo.png">

        <div class="navbar-header">
          <a href="<%= root_path %>" class="navbar-brand" class="hover">
            <h1>Cool Story, Bro</h1>
          </a>
        </div>

        <div class="blurb">
          What happened here?<br>Click a message on the map<br>
           to find out... or <% if current_user && user_signed_in? %><%= link_to "write your own!", new_user_story_path(current_user.id) %><% else %><%= link_to "write your own!", new_user_registration_path %> <% end %><br>
        </div>

        <ul class="nav navbar-nav">
          <li class="hover"><a href="<%= users_path %>">PEOPLE</a></li>
          <li class="hover"><a href="/stories/index">STORIES</a></li>
          <li class="hover"><a href="/about">ABOUT</a></li>
            <% if user_signed_in? %>
              <li class="hover"><%= link_to "LOG OUT", destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li class="hover"><%= link_to "LOG IN", new_user_session_path %></li>
              <li class="hover"><%= link_to "REGISTER", new_user_registration_path %></li>
           <% end %>
        </ul>
      </nav>
    </div>
    </center>

    <!-- FLASH NOTICES -->
    <% if flash[:error] -%>
      <p class='error'><%=h flash[:error] %></p>
    <% elsif flash[:notice] -%>
      <p class='notice'><%=h flash[:notice] %></p>
    <% elsif flash[:alert] -%>
      <p class='alert'><%=h flash[:alert] %></p>
    <% else %>
    <% end -%>


      <%= yield %>
  </div>
</body>
</html>
